apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - grafana-operator/httpproxy.yaml
  - grafana-sandbox/grafana.yaml
patchesStrategicMerge:
  - prometheus/statefulset.yaml
  - grafana-operator/grafana.yaml
configMapGenerator:
  - name: alertmanager
    behavior: merge
    files:
      - alertmanager/env.template
