apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - grafana-operator
  - machines-endpoints/cronjob.yaml
  - machines-endpoints/role.yaml
  - machines-endpoints/rolebinding.yaml
  - machines-endpoints/serviceaccount.yaml
  - machines-endpoints/pod-security-policy.yaml
  - kube-state-metrics/deployment.yaml
  - kube-state-metrics/role.yaml
  - kube-state-metrics/rolebinding.yaml
  - kube-state-metrics/service.yaml
  - kube-state-metrics/serviceaccount.yaml
  - prometheus/clusterrole.yaml
  - prometheus/clusterrolebinding.yaml
  - prometheus/service.yaml
  - prometheus/serviceaccount.yaml
  - prometheus/statefulset.yaml
  - alertmanager/deployment.yaml
  - alertmanager/service.yaml
configMapGenerator:
  - name: prometheus-server-conf
    files:
      - prometheus/prometheus.yaml
      - prometheus/record_rules.yaml
      - prometheus/alert_rules/argocd.yaml
      - prometheus/alert_rules/cert-manager.yaml
      - prometheus/alert_rules/cke.yaml
      - prometheus/alert_rules/elastic-operator.yaml
      - prometheus/alert_rules/etcd.yaml
      - prometheus/alert_rules/external-dns.yaml
      - prometheus/alert_rules/grafana-sandbox.yaml
      - prometheus/alert_rules/ingress.yaml
      - prometheus/alert_rules/kube-state-metrics.yaml
      - prometheus/alert_rules/kubernetes.yaml
      - prometheus/alert_rules/metallb.yaml
      - prometheus/alert_rules/monitoring.yaml
      - prometheus/alert_rules/neco-admission.yaml
      - prometheus/alert_rules/network-policy.yaml
      - prometheus/alert_rules/node.yaml
      - prometheus/alert_rules/sabakan.yaml
      - prometheus/alert_rules/teleport.yaml
      - prometheus/alert_rules/topolvm.yaml
  - name: alertmanager
    files:
      - alertmanager/neco.template
